:root {
  --font-alata: "Alata", sans-serif;
  --font-JS: "Josefin Sans", sans-serif;

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --dark-gray-plus: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: center;
  /* column-gap: 2rem; */
  gap: 3rem;
}

.mg-btm {
  margin-bottom: 8rem;
  align-self: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
